div.dokuwiki div.newentry_form {
  clear: both;
  text-align: center;
  margin-bottom: 1em;
}

div.dokuwiki #blog__newentry_form input.edit {
  width: 95%;
}

div.dokuwiki tr.draft,
div.dokuwiki div.draft {
  opacity: 0.5;
}

div.dokuwiki div.autoarchive_selector ul {
  list-style-type: none;
  clear: left;
  margin: 0 0.5em 0 0;
}

div.dokuwiki div.autoarchive_selector ul div.li {
  float: left;
  margin: 0 1em 0 0;
}

div.dokuwiki div.autoarchive_selector ul ul {
  float: left;
  clear: none;
}

div.dokuwiki div.autoarchive_selector ul ul div.li {
  margin: 0;
}

img.blog_archive_bar {
  background-color: __border__;
  width: 5px;
  border: 0 none;
  vertical-align: bottom;
}



/*

	ADRIAN

*/

.blog_row {
	
	overflow:hidden;
	margin: 0 0 0;
	padding: 10px 0 10px;
	/*border-bottom: 1px solid #ddd;*/
}

	.blog_row h1, .blog_row h2, .blog_row h3, .blog_row h4, .blog_row h5, .blog_row h6 {
		clear: none;	
	}
	
	.blog_row img {
		margin: 0 20px 0 0;	
		padding: 2px;
		border: 1px solid #ddd;
		background: #fff;
		float: left;
	}
	
	.blog_row  p {
		margin-bottom: 0;	
	}
	
	.level2 .blog_row + hr:last-child {
		
	}
	
	
	
#blog__newentry_form fieldset {
	
	width: auto;
	background: #eee;
	text-align: left;
	
}
	#blog__newentry_form fieldset legend {
		background: #eee;	
		padding: 10px;
		border: 1px solid #ccc;	
		-moz-box-shadow: 0 0 3px 0px #ccc;
		-webkit-box-shadow: 0 0 3px 0px #ccc;
		box-shadow: 0 0 3px 0px #ccc;
	}

	#blog__newentry_form fieldset input {
		margin: 5px;
		padding: 3px;
		border: 1px solid #ccc;	
	}
	
	
	
	